<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>BloodImpact_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,63},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,189},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,252},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,315},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,378},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,441},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,504},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,567},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,630},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,693},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,756},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,819},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,882},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,945},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1008},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1071},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1134},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1197},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1260},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1323},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1386},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1449},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1512},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1575},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1638},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1701},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1764},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1827},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1890},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1953},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,0},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,0},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,0},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,0},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,0},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,0},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,0},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>BloodImpact_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,0},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Bloodimpact.png</string>
      <key>size</key>
      <string>{840,2016}</string>
      <key>textureFileName</key>
      <string>Bloodimpact</string>
    </dict>
  </dict>
</plist>
