<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Wheel_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,273},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,546},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,819},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1092},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1365},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1638},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,0},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,0},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,0},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1092,0},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1365,0},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,0},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,273},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,546},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,819},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,1092},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,1365},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,1638},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,273},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,273},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1092,273},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1365,273},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,273},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,546},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,819},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,1092},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,1365},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,1638},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,546},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{1092,546},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{1365,546},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,546},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,819},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,1092},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,1365},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,1638},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{1092,819},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{1365,819},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,819},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{1092,1092},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{1092,1365},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{1092,1638},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{1365,1092},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,1092},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{1365,1365},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{1365,1638},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,1365},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
      <key>Wheel_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{1638,1638},{273,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{273,273}}</string>
        <key>sourceSize</key>
        <string>{273,273}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Wheel.png</string>
      <key>size</key>
      <string>{1911,1911}</string>
      <key>textureFileName</key>
      <string>Wheel</string>
    </dict>
  </dict>
</plist>
