<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Agis_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
      <key>Agis_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,240},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
      <key>Agis_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,480},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
      <key>Agis_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,720},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
      <key>Agis_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,960},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
      <key>Agis_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1200},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
      <key>Agis_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1440},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
      <key>Agis_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1680},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
      <key>Agis_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
      <key>Agis_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,0},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
      <key>Agis_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,0},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
      <key>Agis_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,0},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
      <key>Agis_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1120,0},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
      <key>Agis_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1344,0},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
      <key>Agis_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1568,0},{224,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{224,240}}</string>
        <key>sourceSize</key>
        <string>{224,240}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Agis.png</string>
      <key>size</key>
      <string>{1792,1920}</string>
      <key>textureFileName</key>
      <string>Agis</string>
    </dict>
  </dict>
</plist>
