<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>whiteLight_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,766},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1149},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1532},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,0},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,0},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,0},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,0},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1525,0},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,383},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,766},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,1149},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,1532},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,383},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,383},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,383},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1525,383},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,766},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,1149},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,1532},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,766},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,1149},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,1532},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,766},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{1525,766},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,1149},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
      <key>whiteLight_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,1532},{305,383}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{305,383}}</string>
        <key>sourceSize</key>
        <string>{305,383}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>WhiteLight.png</string>
      <key>size</key>
      <string>{1830,1915}</string>
      <key>textureFileName</key>
      <string>WhiteLight</string>
    </dict>
  </dict>
</plist>
