<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>BoomFire_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>BoomFire_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,64},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>BoomFire_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>BoomFire_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>BoomFire_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>BoomFire_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,320},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>BoomFire_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,384},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>BoomFire_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,448},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>BoomFire_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>BoomFire_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,576},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>BoomFire_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,640},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>BoomFire_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,704},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>BoomFire_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>BoomFire.png</string>
      <key>size</key>
      <string>{64,832}</string>
      <key>textureFileName</key>
      <string>BoomFire</string>
    </dict>
  </dict>
</plist>
