<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Ritual_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,429},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,858},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1287},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,0},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,0},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{1287,0},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,429},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,858},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,1287},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,429},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1287,429},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,858},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,1287},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1287,858},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
      <key>Ritual_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1287,1287},{429,429}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,429}}</string>
        <key>sourceSize</key>
        <string>{429,429}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Ritual-0.png</string>
      <key>size</key>
      <string>{1716,1716}</string>
      <key>textureFileName</key>
      <string>Ritual-0</string>
    </dict>
  </dict>
</plist>
