<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>13_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_105.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,64},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,256},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,320},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_66.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,384},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_79.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,448},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_92.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_102.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,576},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_103.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,632},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_104.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,688},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,744},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_115.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,800},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_116.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,856},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_117.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,912},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,968},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1024},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1080},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1136},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1192},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1248},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1304},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1360},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1416},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1472},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1528},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_63.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1584},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_64.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1640},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_65.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1696},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_76.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1752},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_77.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1808},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_78.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1864},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_89.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1920},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_90.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1976},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2032},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,25},{14,14}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_109.png</key>
      <dict>
        <key>frame</key>
        <string>{{14,2032},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,25},{14,14}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{28,2032},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,25},{14,14}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,2032},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,25},{14,14}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_91.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,576},{56,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,4},{56,56}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{54,54}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_106.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,54},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{54,54}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,108},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{54,54}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,162},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{54,54}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,216},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{54,54}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,270},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{54,54}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_67.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,324},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{54,54}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_80.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,378},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{54,54}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_93.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,432},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{54,54}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,486},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{52,52}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,538},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,538},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_101.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,486},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{52,52}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_114.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{52,52}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,52},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{52,52}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,104},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{52,52}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,156},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{52,52}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_62.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,208},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{52,52}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_75.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,260},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{52,52}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_88.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,312},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,6},{52,52}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,364},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{48,48}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_100.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,412},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{48,48}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,460},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,21},{22,22}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_110.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,460},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,21},{22,22}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,460},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,21},{22,22}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,460},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,21},{22,22}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_45.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,460},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,21},{22,22}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_113.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,364},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{48,48}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,412},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{48,48}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,412},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{48,48}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_48.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,412},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{48,48}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_61.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,0},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{48,48}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_74.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,48},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{48,48}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_87.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,96},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{48,48}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,144},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{40,40}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_112.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,184},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{40,40}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,224},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{40,40}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,264},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{40,40}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_47.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,304},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{40,40}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,344},{18,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,23},{18,18}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_108.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,344},{18,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,23},{18,18}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,344},{18,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,23},{18,18}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,344},{18,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,23},{18,18}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_43.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,344},{18,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,23},{18,18}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_60.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,362},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{40,40}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_73.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,362},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{40,40}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_86.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,144},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{40,40}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_99.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{40,40}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_107.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,40},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_111.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,78},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,116},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,21},{22,22}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_71.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,116},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,21},{22,22}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_84.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,116},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,21},{22,22}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,40},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,78},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,0},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,184},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_42.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,222},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_46.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,260},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,298},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_59.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,184},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_68.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,138},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_97.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,116},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,21},{22,22}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,116},{18,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,23},{18,18}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_72.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,38},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_81.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_85.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,0},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_94.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,76},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_69.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{18,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,23},{18,18}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_82.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,18},{18,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,23},{18,18}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_98.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,222},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{38,38}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_95.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,260},{18,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,23},{18,18}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_44.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,278},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,25},{14,14}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,292},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,25},{14,14}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_70.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,306},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,25},{14,14}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_83.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,320},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,25},{14,14}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>13_96.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,334},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,25},{14,14}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>spark.png</string>
      <key>size</key>
      <string>{402,2046}</string>
      <key>textureFileName</key>
      <string>spark</string>
    </dict>
  </dict>
</plist>
